[defaults]
# Path to your inventory file
inventory = inventory.ini

# Enable the use of SSH for connections
host_key_checking = False

# Use unbuffered output to see live results
stdout_callback = default

[ssh_connection]
# SSH specific settings
ssh_args = -o ControlMaster=auto -o ControlPersist=60s

[privilege_escalation]
# If using privilege escalation, define the method here
become = true
become_method = sudo

# Default become user (root)
become_user = root

[windows]
192.168.43.242 ansible_user=vaidhi ansible_password='vaidhi@learn' ansible_connection=winrm ansible_winrm_port=5985 ansible_winrm_transport=ntlm

[Devnode]
192.168.43.221 ansible_user=root ansible_ssh_pass="Vaidhi@0212" ansible_port=22 ansible_connection=ssh

[master]
192.168.43.218 ansible_user=vaidhi ansible_ssh_pass="Jothi@0212" ansible_port=22 ansible_connection=ssh

[centos]
192.168.43.233 ansible_user=vaidhi ansible_ssh_pass="Jothi@0212" ansible_port=22 ansible_connection=ssh
